<%- include('../views/include/header.ejs')%> <%-
include('../views/include/usernav.ejs')%>

<div class="container text-center">
  <div class="card" style="margin: 3%; padding: 3%">
    <h1>Welcome <%= name %></h1>
  </div>

  <div class="row align-items-start">
    <div class="col">
      <div class="card">
        <a href="/quiz/cs" class="aLink">
          <h2>CS</h2>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a href="/quiz/bca" class="aLink">
          <h2>BCA</h2>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a href="/quiz/gen" class="aLink">
          <h2>GEN</h2>
        </a>
      </div>
    </div>
  </div>
</div>

<%- include('../views/include/footer.ejs')%>
